@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu');

body {font-family:'Raleway',sans-serif;}
h1,h2,h3,h4,h5,h6{font-family:'Ubuntu',sans-serif;}

.svgcontainer{
	
	}
#shinygreyltdlogo{margin: 1em 0em;}

.application{
	border: 5px inset #666f7c;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.justify-content-center {
	-ms-flex-pack: center!important;
	justify-content: center!important;
}

.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.col2{
	flex: 0 0 16.666667%;
}

.col3{
	flex: 0 0 25%;
}

.col4{
	flex: 0 0 33.333333%;
}

.col5{
	flex: 0 0 41.666667%;
}

.col6{
	flex: 0 0 50%;
}

.col7{
	flex: 0 0 58.333333%;
}

.col8{
	flex: 0 0 66.666667%;
}

.col9{
	flex: 0 0 75%;
}

.col10{
	flex: 0 0 83.333333%;
}

.col11{
	flex: 0 0 91.666667%;
}